@charset "UTF-8";
/* CSS Document */

body{
	
	font-family: 'Roboto', sans-serif;
	
}

.row{
	margin-bottom: 0px;
}

h1{
	text-align: center;
	font-weight: 500;
	font-size: 1.2em;
	padding: 1em 0em;
}

h2{
	text-align: center;
	font-weight: 300;
	font-size: 3em;
	padding-top: 1em;
	padding-bottom: 1em;
}

p{

	text-align: justify;
	font-weight: 300;
	font-size: 1.2em;
	padding-bottom: 0.5em;
}

/*NAV*/

nav{
	background-color: black;
	height: 6em;
}

nav ul a{
	padding: 0.5em;
	margin: 0.5em;
	font-weight: 100;
	font-size: 1.2em;
	color: white;
	
}

nav ul a:hover{
	text-decoration: underline;
	color: #BCBCBC;
}

#nav-mobile{
	display: none;
}
#nav-tablet{
	display: none;
}

/*PARALLAX*/

.parallax-container {
	width: 100%;
	height: 800px;
}

.parallax-last-one{
	min-height: 1000px;
}

/*SERVICING*/

div .view-computer{
	width: 80%;
	text-align: justify;
	border: 1px solid rgba(0,0,0,1.00);
	border-radius: 0.3em;
}

div .row  a .col{
	color: black;
}

div .row .col h1{
	font-size: 1.3em;
	text-align: center;
	font-weight: 400;
	padding-top: 2em;
	padding-bottom: 1em;	
	
}

div .row .col h2{
	
	font-size: 2em;
	text-align: center;
	font-weight: 600;
	
}

div .row .col h3{
	font-size: 0.8em;
	text-align: center;
	font-weight: 300;
	padding-top: 0.5em;
	padding-bottom: 2em;	
}

div .row .col h4{
	
	border-left: 1px solid rgba(0,0,0,1.00);
	padding: 0em 0em 0em 1em;
	margin: 0.2em;
	margin-bottom: 2em;
	
	
}

div .row .col p{

	padding-bottom: 1em;
	
}

div .row .col a{
	
	color: #000000;
	text-align: center;
	margin-left: 10em;
	padding-top: 2em;
	
	
}

.view-mobile{
	display: none;
}

/*COLLAPSIBLE*/

div .row .collapsible li .collapsible-body p{
	font-size: 1em;
	font-weight: 300;
	padding: 1em 0em;
	
}

div .row .collapsible li .collapsible-body ul{
	padding: 1em 0em;
}

div .row .collapsible li .collapsible-body ul li{
	list-style: circle;
	font-size: 1em;
	font-weight: 300;
	margin-left: 3em;
	
	
}

/*table*/

.more-details h3{
	font-weight: 500;
	padding-left: 10em;
}

th{
	font-weight: 600;
	font-size: 1.2em;
	padding-bottom: 0.5em;
	text-align: center;
	
}

td{
	border-left: 1px solid gray;
	border-right:1px solid gray; 
	border-top:1px solid gray; 

	padding: 0.5em;
	font-weight: 600;

}

td p{
	padding: 0.5em;
	font-weight: 300;


}


/*CONTATO
*/

#form-contact{
	margin-top: 1em;
	margin-left: 10em;
	margin-right: 10em;
}

#h-contact{
	color: white;
	padding-bottom: 0.2em;
}

input{
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;	
}

.input-field label{

	color: white;

}

/* label focus color */
   .input-field input[type=text]:focus + label {
     color: white;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #fff;
     box-shadow: 0 1px 0 0 #fff;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #fff;
     box-shadow: 0 1px 0 0 #fff;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #fff;
     box-shadow: 0 1px 0 0 #fff;
}

/* icon prefix focus color */
   .input-field .prefix.active {
     color: #fff;
   }


textarea.materialize-textarea:focus:not([readonly]){
	border-bottom: 1px solid rgba(255,255,255,1.00);
	box-shadow: 0 1px 0 0 gray;
}

textarea {
    color: white;
    font-family: 'Roboto', sans-serif;
	font-weight: 100;
	border-bottom: 1px solid rgba(255,255,255,1.00);
	box-shadow: 0 1px 0 0 gray;
}

textarea.materialize-textarea{
	color: white;
}
.btn{
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	background-color: #565656;
	float: right;
	
}
.btn:hover{
	background-color: #4D4C4C;	
	font-weight: 300;

}

#find-us{
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	margin-left: 10em;
	margin-right: 10em;
	text-align: left;
}

#h-find{
	margin-top: -1em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	
}

#find-us #hours h{
	font-size: 1.5em;
	margin-top: 2em;
	margin-left: 1em;
	font-weight: 300;
}

#find-us p{
	font-weight: 100;
	
}

#hours-note{
	margin-top: 2em;
}

#hours-tablet{
	display: none
}

#find-us table {
	max-width: 500px;
}

#maps-m{
	display: none;

	
}

#maps-s{
	
	margin-top: -20em;
}

#form-contact-phone{
	display: none;
}

/*FOOTER*/

.footer-tablet{
	display: none;
}

div ul li{
	margin-bottom: 0.5em;
}

div ul li a{
	text-decoration: none!important;
	font-size: 1.2em;
	margin: 0.5em 0;
	margin-bottom: 1em;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: white!important;
}

.social-media li{
	display: inline-block;
	margin-right: -14em;
	padding-right: 0px;
	
}
.social-media li a{
	padding: 10px 5px;
}
.social-media li a img{
	width: 30%;
}

#copyright{
	margin: 0.5em;
	padding-bottom: 1em;
	text-align: center;	
	
}

#copyright p2{
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	margin-top: 2em;	
	
}

#copyright a{
	color: lightgray;
	font-weight: 300;
	text-decoration: underline;
	
}

#copyright .col{
	margin-top: 0.4em;
	margin-bottom: 0.2em;
}






@media only screen and (max-width:992px){
	
	
	
	/*SERVICING*/

	div .view-mobile{
		width: 80%;
		text-align: justify;
		
		display: block;
	}
	.view-mobile div{
		border: 1px solid rgba(0,0,0,1.00);
		border-radius: 0.3em;
		margin-bottom: 1em;
	}
	div .row  a .col{
		color: black;
		
	}
	

	div .row .col h1{
		font-size: 1.3em;
		text-align: center;
		font-weight: 400;
		padding-top: 1em;
		padding-bottom: 0.5em;	

	}

	div .row .col h2{

		font-size: 2em;
		text-align: center;
		font-weight: 600;

	}

	div .row .col h3{
		font-size: 0.8em;
		text-align: center;
		font-weight: 300;
		padding-top: 0.5em;
		padding-bottom: 1em;	
	}

	div .row .col h4{

		border-left: 1px solid rgba(0,0,0,1.00);
		padding: 0em 0em 0em 1em;
		margin: 0.2em;
		margin-bottom: 2em;


	}

	div .row .col p{

		padding-bottom: 1em;

	}

	div .row .col a{

		color: #000000;
		text-align: center;
		margin-left: 10em;
		padding-top: 2em;


	}
	.view-computer{
		display: none;
	}
	
	
	
	/*table*/

	.collapsible-body {
		padding-left: 1em;
	}
	
	.collapsible-header h3{
		font-weight: 300;	

	}
	
	.more-details h3{
	font-weight: 500;
	padding-left: 2em;
}

	table.responsive-table th{
		font-size: 0.8em;
		padding-bottom: 2em;
		

	}
	tr td{
		border-bottom: 1px solid gray!important;
	}
	
	tr td p{
	font-size: 0.8em;


}

	/*CONTACT*/
	
	.parallax-last-one{
	min-height: 1200px;
}

	#form-contact{
		display: none;
	}
	#form-contact-phone{
		display: inherit;
		margin-top: 0.1em;
	}
	/*FIND US*/
	.row-find-us-note{
		display: none;
	}
	
	
	
	#find-us{
		margin-left: 5em;
		margin-right: 5em;
	}
	
	#find-us table{
		max-width: 200px;
		
	}
	#hours-note{
		display: none;
	}
	
	#hours-tablet{
		display: block;
	}
	
	#maps-s-tablet{
		margin-top: -20em;
		margin-left: 15em;
	}
	
	/*FOOTER*/
	
	.footer-note{
		display: none;
	}
	div .footer-tablet .col ul li a {
		margin-left: 1em;
	}	
	.social-media li a img {
    width: 50%;
	}
	.social-media li{
		margin-right: -5em;
		margin-top: -20em;
	}
	
}

@media only screen and (max-width:699px){
	
	body{
			overflow: hidden;

}
	
	#nav-pc{
		display: none;
	}
	#nav-tablet{
		display: none!important;
	}
	#nav-mobile{
		display: block!important;
		background-color: black;
	}
	#nav-mobile .col a{
		font-size: 2em!important;
		color: white;
		font-weight: 100;
	}
	#nav-mobile .col{
		margin-top: 1.5em;
		margin-bottom: 1.5em;
		text-align: center;

	}
	
	.parallax-container{
		height: 350px;
		
	}
	
	.parallax-last-one{
		min-height: 1800px!important;
		background-color: black;
	}
	#find-us table{
		max-width: 520px;
		
	}
	
	#h-find{
		margin-top: 1em;	
	}
	
	#hours-note{
		display: none;
	}
	
	#hours-tablet{
		display: block;
		margin-top: 1em;
		
	}
	#hours-tablet h{
		font-size: 1.5em;
		text-align: center;
	}
	
	#maps-s-tablet{
		margin-top: 1em;
		margin-left: -2em;
	}
	
	.footer-tablet{
		display: block;
	}
	
	.social-media li a img{
		width: 30%;
	}
	
	div .footer-tablet .col ul li a{
		margin-left: 0em;
	}
	
	
	}



	
@media only screen and (min-width: 700px) and (max-width:1100px){
	
	nav ul a{
	font-size: 1.1em;
	color: white;
	
	}
	
	#nav-tablet{
		display:block;
		background-color: black;
		
	}
	#nav-tablet .col{
		margin-top: 1em;
		margin-bottom: 1em;
		text-align: center;

	}
	#nav-tablet .col a{
		color: white;
		font-weight: 100;
		font-size: 2em;
	}
	#nav-pc{
		display: none;
	}
	#nav-mobile{
		display: none;
	}
	
	.btn{
		float: left;
	}
	
}

@media only screen and (min-width:1500px){
	
	#maps-m{
		display: block;
		margin-top: -25em;
	}
	#maps-s{
		display: none;
	}
}



